<div class="rating-area">
	<input (click)="setRating(5)" type="radio" id="star-5" name="rating" value="5" [checked]="rating == 5">
	<label for="star-5"></label>
	<input (click)="setRating(4)" type="radio" id="star-4" name="rating" value="4" [checked]="rating == 4">
	<label for="star-4"></label>
	<input (click)="setRating(3)" type="radio" id="star-3" name="rating" value="3" [checked]="rating == 3">
	<label for="star-3"></label>
	<input (click)="setRating(2)" type="radio" id="star-2" name="rating" value="2" [checked]="rating == 2">
	<label for="star-2"></label>
	<input (click)="setRating(1)" type="radio" id="star-1" name="rating" value="1" [checked]="rating == 1">
	<label for="star-1"></label>
</div>
