.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}
.card{
    margin: 10px;
    width: 350px;
    height: 293px;
    box-shadow: 0 0 5px;
    background: white;
}
.card p{
  padding-top: 100px;
  font-family: Gotham_light_italianic;
  font-size: 35px;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .card {
    width: 300px;
  }
}
