input {
  flex-basis: auto;
  height: 28px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #dbdbdb;
  background: #fafafa;
  outline: none;
}
.list {
  position: relative;
  z-index: 99;
  margin: 17px;
  border: 1px solid black;
}
a {
  font-family: Gotham_light_italianic;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .list {
    margin: 2px 0 -2px 0;
  }
}
